name: Detekt

on:
  push:

jobs:
  detekt:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
      - name: check
        run: ./gradlew detekt
