name: Detekt

on:
  push:

jobs:
  detekt:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4
      - name: check
        run: ./gradlew detekt
